footer {
    margin-top: auto;
}
 
.footer {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3rem 40px;
    background-color: #263238; 
    border-top: 1px solid #ddd; 
    flex-shrink: 0; 
  }
  
  .footer-left {
    display: flex;
    flex-direction: column;
    margin-left: 8.5rem;
    gap: 4rem;
  }
  
  .footer-logos {
    display: flex;
    gap: 5rem;
  }
  
  .footer-logo {
    width: 5.5rem;
    height: auto;
    object-fit: contain;
  }
  
  .footer-socials {
    display: flex;
    gap: 1.8rem;
    margin-left: 2rem;
  }
  
  .social-icon img {
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .social-icon img:hover {
    transform: scale(1.1); 
  }
  
  .footer-right {
    display: flex;
    margin-right: 6.8rem;
    gap: 5rem;
  }
  
  .footer-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .footer-heading {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #FFFFFF;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-links li {
    margin: 5px 0;
  }
  
  .footer-links a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 11.5px;
    color: #FFFFFF; 
    transition: color 0.3s;
  }
  
  .footer-links a:hover {
    color: #50A3F2; 
  }
  
  .footer-subscribe {
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }
  
  .subscribe-input {
    padding: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 9.74px;
    color: #FFFFFF;
    background-color: rgba(138, 150, 145, 0.445);
    border: 1px solid #585c64;
    border-radius: 5.57px;
    flex: 1;
  }
  
  .subscribe-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #50A3F2;
    border: none;
    border-radius: 5.57px;
    padding: 0.48rem;
    cursor: pointer;
  }
  
  .subscribe-button img {
    width: 0.8rem;
    height: 0.8rem;
    color: #fff;
  }
  
  .subscribe-button:hover {
    background-color: #0056b3;
  }
  
  .circle {
    background-color: rgb(59, 59, 59);
    border-radius: 50%;
    width: 1.8rem;
    height: 1.8rem;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    }
    .circle a {
        display: flex; /* Ensure the <a> is also a flex container */
        justify-content: center;
        align-items: center;
        width: 100%; /* Make <a> match the circle dimensions */
        height: 100%;
        text-decoration: none; /* Optional: remove underline */
    }
    
    .circle img {
        max-width: 80%; /* Ensure the image doesn't exceed the circle's size */
        max-height: 80%; /* Keep the image proportional */
        border-radius: 50%; /* Optional: make the image itself circular */
    }